{
    "plugins": [
        "prettier-plugin-tailwindcss",
        "prettier-plugin-organize-imports"
    ],
    "singleQuote": true,
    "trailingComma": "all",
    "useTabs": true,
    "tabWidth": 4,
    "importOrder": [
      "<THIRD_PARTY_MODULES>",
      "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
