@font-face {
    font-family: 'Cascadia Code';
    font-style: normal;
    font-weight: 400;
    src: local('Cascadia Code'),
		url('/fonts/CascadiaMono.woff2') format('woff');
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

:root {
	font-family: 'Cascadia Code', monospace;
	font-weight: 400;
}
